<%- include('theme/header'); %>
<div class="container">
<form method="post">
  <div class="form-group">
    <label for="nim">Nim</label>
    <input type="text" class="form-control" name="nim">
  </div>
  <div class="form-group">
    <label for="pwd">Nama:</label>
    <input type="text" class="form-control" name="nama">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

</div>

<%- include('theme/footer'); %>
