<!doctype html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="fluid-container" >
    <div class="jumbotron" style="background:rgb(49, 145, 126)">
      <center><h3 style="color:white"><%= title2 %></h3></center>
    </div>
  </div>
